/*Selector {
	Property: value;
}*/

/*light blue: #007FB2  (0, 127, 178)*/
/*darker blue: #06516D  rgb(6, 81, 109) */
/*green: #4BAF51*/
/*background colour: #EEEEEE*/

* {
	font-family: Helvetica, Arial, sans-serif;
	/*background-color: rgba(238, 238, 238, 0.5);*/
}

body {
	/*background-image: url(seabirds-home-bg.png);*/
	/*background-attachment: fixed;*/
	/*background-position: bottom;*/
	background-color: #EEEEEE;
}

h1 {
	color: #007FB2;
	font-size: 200%;
}

h2 {
	color: #007FB2;
	font-size: 150%;
}

h3 {
	color: #007FB2;
	font-size: 120%;
}

p {
	color: rgb(6, 81, 109);
	line-height: 20px
}

li {
	list-style: none;
	/*display: inline-block;*/
	color: rgb(6, 81, 109);
}

li:hover {
	/*border: 1px solid black;*/  
	/*text-decoration: underline;*/
	/*text-transform: uppercase;*/
}

/*img {
	float: left;
}*/


/*.webtext {
	border: 5px solid rgba(28, 109, 48, 0.5);
	background: rgba(255, 255, 255, 0.8)
}*/

/*.active {
	color: rgb(28, 109, 48);
	font-style: italic;
}*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  padding: 5px;
  background-color: rgba(0, 127, 178, 0.7);
  text-align: center;
  color: #EEEEEE;
  font-style: italic;
  font-size: 100%;
}

.push {
    /*automatically all the way to the right by pushing the margin to the left of the object*/
    margin-left: auto;
}

/*#div1 {
	background: rgba(255, 255, 255, 0.8);
}

#div2 {
	background: rgba(255, 255, 255, 0.8);
}*/


